<br/>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Admissions</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="<%= process.env.PLATFORM_URL %>/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item">Admissions</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div></div>
        </div>
    </section>
</main>