<!-- page title -->
<section class="page-title-section overlay" data-background="<%= process.env.PLATFORM_URL %>/assets/images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb mb-2">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="<%= process.env.PLATFORM_URL %>">Home</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">About Us</li>
                </ul>
                <p class="text-lighten mb-0">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- about -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img class="img-fluid w-100 mb-4" src="<%= process.env.PLATFORM_URL %>/assets/images/about/about-page.jpg" alt="about image">
                <h2 class="section-title">ABOUT OUR JOURNEY</h2>
                <p>Glory Educational Services Ltd. started recruitment business in 1998 but commenced trading officially from August 1999. Our operations got very big and in 2003 Glory Educational Services Ltd became an entity on her own with separate facilities and offices in the major cities of the nation. Recently, the frontier of our business was expanded with an office in the UK. Plans are afoot to open the sub West African offices.</p>
                <p>Our Mission to assist all our clients intending overseas education and training achieve their dreams without delays and offer each and everyone all the helps they deserve.To become an industry leader in the field of international student recruitment through quality service delivery from counseling through to enrolment for both clients and partners.</p>
            </div>
        </div>
    </div>
</section>
<!-- /about -->

<!-- funfacts -->
<section class="section-sm bg-primary">
    <div class="container">
        <div class="row">
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="196">0</h2>
                    <h5 class="text-white">Satisfied Candidates</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="96">0</h2>
                    <h5 class="text-white">Certified Institutions</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="10">0</h2>
                    <h5 class="text-white">Years of Experience</h5>
                </div>
            </div>
            <!-- funfacts item -->
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                <div class="text-center">
                    <h2 class="count text-white" data-count="3737">0</h2>
                    <h5 class="text-white">Students Enrolled</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /funfacts -->
