<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="<%= process.env.PLATFORM_URL %>/assets/images/banner/banner-1.jpg">
    <div class="container">
        <div class="hero-slider">
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-10">
                        <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Accelerate Your Student Recruitment Process <br/> with Glory Education.</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">We partner with higher institutions from around the world</p>
                        <a href="#" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">How it works?</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">We are positioned to partner with schools and institutions from all over the world
                            with a clear ambition of bringing quality foreign education training opportunities to families in
                            Africa.</p>
                        <a href="#" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Sign
                            Up Now and Lets Connect</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /hero slider -->
<!-- banner-feature -->
<section class="bg-gray overflow-md-hidden">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
                <img class="img-fluid w-100" src="<%= process.env.PLATFORM_URL %>/assets/images/banner/banner-feature.png" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="row feature-blocks bg-gray justify-content-between">
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-user mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Create Partner
                            Account</h3>
                        <p>Onboard, manage and track prospective students to your institution.</p>
                        <a href="<%= process.env.PLATFORM_URL %>/register" class="btn btn-primary">Register</a>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-lock mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Sign In</h3>
                        <p>Secured access to student recruitment data from admissions and applications.</p>
                        <br/>
                        <a href="<%= process.env.PLATFORM_URL %>/login" class="btn btn-primary">Login to Your Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /banner-feature -->
